* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

:root {
    --gray-text: #757575;
    --black-text: #000000;
    --gray-medium: #E0E0E0;
    --cyan-dark: #2B788B;
    --cyan-light: #C3DCE3;
    --gray-light: #F6F5F4;
}

a {
    text-decoration: none;
}


.header {
    margin: 0 auto;
    max-width: 1920px;
    height: 88px;
    background-color: var(--gray-light);
    border-bottom: 1px solid var(--gray-medium);
}

.header__container {
    display: block;
    max-width: 1180px;
    height: 100%;
    align-items: center;
    margin: auto;
}

.header__logo-container {
    display: flex;
    margin-right: auto;
}

.header__nav {
    display: flex;
    flex-direction: row;
    height: 88px;
    padding: 33px 0;
}

.header__logo {
    margin-right: 30px;
    width: 130px;
    height: 20px;
}

.nav__line {
    margin-right: 30px;
    border: none;
    border-right: 1px solid var(--gray-medium);
    height: 17px;
}

.nav__list {
    display: flex;
    margin-left: auto;
}

.nav__list-item {
    list-style-type: none;
}

.nav__list-item:not(:last-child) {
    margin-right: 30px;
}

.nav__list-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--gray-text);
    cursor: pointer;
}

.nav__list-link:hover {
    color: var(--black-text);
    transition: ease 0.5s;
}

.nav__account {
    display: flex;
    align-items: center;
}

.nav__user-picture {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.nav__user-name {
    margin-right: 30px;
    color: var(--gray-text);
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.nav__sign-out {
    color: var(--black-text);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.nav__sign-out:hover {
    color: var(--gray-text);
    transition: ease 0.5s;
}



.hero__section {
    background-color: var(--gray-light);
}

.hero__container {
    max-width: 1180px;
    padding-top: 100px;
    margin: auto;
    display: flex;
}

.hero__platform {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: var(--cyan-dark);
}

.hero__heading {
    margin-bottom: 30px;
    max-width: 531px;
    font-family: 'Dela Gothic One', 'sans-serif';
    font-size: 56px;
    font-weight: 400;
    line-height: 48px;
}

.hero__description {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-text);
}

.hero__btn {
    border: none;
    width: 175px;
    height: 50px;
    border-radius: 100px;
    background-color: var(--cyan-light);
    color: #2B788B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 22px;
    margin-bottom: 50px;

}

.hero__btn:hover {
    background-color: #2B788B;
    transition: ease 0.5s;
    color: #fff;
}

.hero__second-section {
    margin-bottom: 35px;
    margin-left: auto;
    max-width: 660px;
}

.hero__numbers {
    margin-bottom: 130px;
}

.hero__background-image {
    max-width: 770px;
}
